/**
 * Created by Seven on 2019/3/27.
 * project: autumn
 * email: fighting20xx@126.com
 */

@mixin border-radius($radius: $border-radius-small) {
    -wekit-border-radius:$radius;
    border-radius: $radius;
}



@mixin size($width, $height){
    width: $width;
    height: $height;
}

@mixin mask (){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    z-index: $zindex-modal-mask;
    transition: opacify .2s ease-in;
    pointer-events: auto;

    &--hidden {
        display: none;
    }
}

@mixin tap-color($bgcolor , $opacity:.9){
    &:active{
        background-color: $bgcolor * $opacity;
    }
}

@mixin flex(){
    display: flex;
    align-items: center;
    & .autumn__flex--item{
        flex: 1;
    }

    & .autumn__flex--vertical {
        flex-direction: column;
        height: 100%;
    }

}
















